@{
    ViewData["Title"] = "Privacy Policy";
}
@section Scripts{
    <script src="~/js/PageTransitions.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
}


<html lang="en" class="no-js">



<body>



    <div id="bodyWrap">

        <div id="pt-main" class="pt-perspective">
            <div class="pt-page pt-page-1"><h1>page ONE</h1></div>
            <div class="pt-page pt-page-2"><h1>PAGE two</h1></div>
        </div>

    </div>

    <div class="pt-triggers">
        <button id="iterateEffects" class="pt-touch-button">Show next page transition</button>
    </div><!-- /triggers -->



</body>

</html>